.html5{
    color: rgb(197, 66, 18);
}
.css3{
    color: rgb(43, 113, 210);
}
.js{
    color: yellow;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
p{
    font-family: 'GmarketSansMedium';
}
h1{
    font-family: 'GmarketSansMedium';
}