<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ff{
            text-decoration: none;
            margin-left: 28px;
            color: #000;
        }   
    </style>
</head>
<body>
    <h1>{{ bookmark.title }}</h1>
    <ul>
        <li>URL : <a href="{{ bookmark.url }}" target="_blank">{{ bookmark.url }}</a></li>
        <li>메모 : {{ bookmark.memo }}</li>
        <li><a href="{% url 'bookmarks:list' %}">home</a></li>
    </ul>
    <a  class="ff" href="/bookmark/update/{{ bookmark.id }}/">수정하기</a>
    <a  class="ff" href="{% url 'bookmarks:update' bookmark.id %}">수정이</a>

    <a  class="ff" href="/bookmark/delete/{{ bookmark.id }}/">삭제하기</a>
    <a  class="ff" href="{% url 'bookmarks:delete' bookmark.id %}">삭제하기2</a>
</body>
</html>